[data-switcher] {
    float: left;
    margin-top: 0;
    padding: 1em 1em .7em;
}
[data-switcher-show] {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
}
[data-switcher-show].selected {
	background-color: #eaeaea;
}
[data-switcher-name]:not(.selected) {
	display: none;
}
ul {
    list-style-type: none;
    padding: 0px;
}
.decorated {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 1.5em;
	display: inline-block;
}
.decorated .decorated-inner {
    padding: .7em 1.2em;
    position: relative;
}